elpa
*~
semanticdb/
projectile-bookmarks.eld
org-clock-save.el
projectile.cache
srecode-map.el
.last-package-update-day
ido.last
eshell/
bookmarks
eaf/
tramp
recentf
elpy
places
session.*
transient/history.el
emacs_command_generator.el
emacs_command_generator.py
gptel.el
.lsp-session-v1
